<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hippo.common.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.hippo.common.po.SysPermission">
        <id column="id" property="id" />
        <result column="available" property="available" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="permission" property="permission" />
        <result column="resource_type" property="resourceType" />
        <result column="url" property="url" />
    </resultMap>

</mapper>
